@{
    ViewBag.Title = "About";
}

<h1>Upload de arquivo para base de dados</h1>

@using (Html.BeginForm("About", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <input type="file" name="csvFile" value="" accept=".csv" />
    </div>
        
    <div>
        <input type="submit" />
    </div>
    
}