@using Botcoin.Utils
@{
    ViewBag.Title = "Home Page";
}

<h2>Teste</h2>

<button id="teste">Botão</button>

@section Scripts
{
    
<script>

    $("#teste").click(function () {
        $.ajax({
            url: "/api/botcoin",
            method: "GET",
            data: {
                actionName: "@ActionNames.GetPrices"
            },
            success: function () {

            }
        });
    });

</script>

}